* body {
    box-sizing: border-box;
}

html {
    min-height: 100vh;
    cursor: url("assets/cursor/cursor.png"), auto;
}

body {
    margin: 0;
     background: #F6DDCC;
}

.page-title {
    color: #17202A;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    text-align: center;
    font-size: 6em;
}

/* game-info-container represents the cards*/
.game-info-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 10px;
    margin: 50px;
    justify-content: center;
}

/*game info represents the Time and Flip*/
.game-info {
    color: #17202A;
    font-size: 4em;
    font-family: 'Courier New', Courier, monospace; 
}

.card {
    background-color:white;
    height: 175px;
    width: 125px;
    position: relative;
    border-style: solid;
    transform-style: unset !important;
 }

 .card .front {
    background-image: url(./assets/images/earth-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
 }

/* game-container represents the cards, flip and time*/
#cards {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    margin: 50px;
    justify-content: center;
}  

 .card:hover {
    cursor: url(assets/cursor/cursor-small.png), auto;
 }

.overlay-text {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    display: none;
}

.overlay-text.visible {
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }
    to {
        font-size: 10em;
        background-color: rgba(0, 0, 0, .8);
    }
}

.overlay-text-small {
    font-size: .3em;
 }

 @media (max-width: 600px) {
     .game-container{
         grid-template-columns: repeat(2, auto);
     }
     .game-info-container {
         flex-direction: column;
         align-items: center;
     }
 }

 img {
     max-width: 100%;
     max-height: 120%;
     object-fit: contain;
 }
 
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F6DDCC;
    overflow: hidden;
    padding-top: 190px;
    padding-left: 170px;
}

.sidenav a {
    padding: 7px 9px 7px 9px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    font-family: monospace;
  }

  .sidenav a:hover {
    color: #f1f1f1;
    cursor: url(assets/cursor/cursor-small.png), auto;
  }
 
  @media screen and (max-height: 600px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
 